.container{
    margin: 12px 16px;
}

.heading{
    font-size: 22px;
    font-weight: bold;
}

.small_heading{
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content{
    font-size: 10px;
    font-weight: bold;
}

.repeat_flag{
    font-size: 10px;
    color: #4EDDBA;
    font-weight: bold;
    margin: 10px 0px;
}

.clearBoth{
    clear: both;
}

.action{
    margin-top: 30px
}

.img_icon{
    width: 12px
}

.input_row{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}